body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64pt;
}

h4 {
    font-size: 16pt;
}



.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 2s forwards ease-in;

    h4 {
        margin-top: -4.5vh;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.bordered-container.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.section-header.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}

.main-column {
    margin: 100pt 0pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    margin-bottom: 50pt;
    font-size: 36pt;
}


.bordered-container {
    border-radius: 5pt;
    border-width: 10pt;
    outline: solid 1px black;
    width: 500pt;
    margin-bottom: 50pt;
    padding: 15pt;
}

.project {
    h3 {
        font-size: 20pt;
    }

    h5 {
        font-size: 10pt;
        font-weight: normal;
        margin-bottom: 10pt;
    }
}

.project, .section-header {
    -webkit-transform: translateY(50px)  translateZ(0);
    transform: translateY(50px)  translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    opacity: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.project-title {
    display: flex;
    justify-content: space-between;
    img {
        margin-top: 0%;
        width: 20pt;
        float: right;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .section-header {
        margin-bottom: 50pt;
        font-size: 24pt;
    }

    .project {
        h3 {
            font-size: 14pt;
        }
    
        h5 {
            font-size: 10pt;
            font-weight: normal;
            margin-bottom: 10pt;
        }
    }

    .bordered-container {
        width: 80vw;
        margin-bottom: 50pt;
        padding: 15pt;
    }
}

@media only screen and (min-width: 768px) {
    .section-header {
        margin-bottom: 50pt;
        font-size: 24pt;
    }

    .project {
        h3 {
            font-size: 14pt;
        }
    
        h5 {
            font-size: 10pt;
            font-weight: normal;
            margin-bottom: 10pt;
        }
    }

    .bordered-container {
        width: 650px;
        margin-bottom: 50pt;
        padding: 15pt;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .section-header {
        margin-bottom: 50pt;
        font-size: 36pt;
    }

    .project {
        h3 {
            font-size: 24pt;
        }
    
        h5 {
            font-size: 14pt;
            font-weight: normal;
            margin-bottom: 10pt;
        }
    }

    .bordered-container {
        width: 900px;
        margin-bottom: 50pt;
        padding: 15pt;
    }
}